Source: gz-sensors8
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               doxygen,
               pkg-config,
               debhelper (>= 11),
               libgz-cmake3-dev,
               libgz-common5-events-dev,
               libgz-common5-io-dev,
               libgz-common5-profiler-dev,
               libgz-math7-dev,
               libgz-msgs10-dev,
               libgz-rendering8-ogre1-dev,
               libgz-rendering8-ogre2-dev,
               libgz-transport13-core-dev,
               libgz-tools2-dev,
               libsdformat13-dev
Vcs-Browser: https://github.com/gazebosim/gz-sensors
Vcs-Git: https://github.com/gazebo-release/gz-sensors8-release
Standards-Version: 4.5.1
Homepage: http://gazebosim.org/

Package: libgz-sensors8-core-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-msgs10-dev,
         libgz-rendering8-ogre1-dev,
         libgz-rendering8-ogre2-dev,
         libgz-transport13-core-dev,
         libgz-tools2-dev,
         libsdformat13-dev,
         libgz-sensors8 (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Development files
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Core development files

Package: libgz-sensors8
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Shared library
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Main shared library

Package: libgz-sensors8-air-pressure-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-air-pressure (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files air-pressure
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for air-pressure sensor

Package: libgz-sensors8-air-pressure
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib air-pressure
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for air-pressure sensor

Package: libgz-sensors8-air-speed-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-air-speed(= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files air-speed
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for air-speed sensor

Package: libgz-sensors8-air-speed
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib air-speed
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for air-speed sensor

Package: libgz-sensors8-altimeter-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-altimeter (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files altimeter
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for altimeter sensor

Package: libgz-sensors8-altimeter
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib altimeter
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for altimeter sensor

Package: libgz-sensors8-boundingbox-camera-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-msgs10-dev,
         libgz-transport13-core-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-boundingbox-camera (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files Bounding Box Camera
 Gazebo sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for Bounding Box Camera sensor

Package: libgz-sensors8-boundingbox-camera
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib Bounding Box Camera
 Gazebo sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for Bounding Box Camera sensor

Package: libgz-sensors8-camera-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-msgs10-dev,
         libgz-transport13-core-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-camera (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files Camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for Camera sensor

Package: libgz-sensors8-camera
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib Camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for Camera sensor

Package: libgz-sensors8-depth-camera-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-msgs10-dev,
         libgz-transport13-core-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libgz-sensors8-camera-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-depth-camera (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files depth-camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for depth-camera sensor

Package: libgz-sensors8-depth-camera
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib depth-camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for depth-camera sensor

Package: libgz-sensors8-dvl-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-dvl (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files DVL
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for DVL sensor

Package: libgz-sensors8-dvl
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib DVL
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for DVL sensor

Package: libgz-sensors8-force-torque-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-force-torque (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files force-torque
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for force-torque sensor

Package: libgz-sensors8-force-torque
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib force-torque
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for force-torque sensor

Package: libgz-sensors8-imu-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-imu (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files imu
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for imu sensor

Package: libgz-sensors8-imu
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib imu
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for imu sensor

Package: libgz-sensors8-lidar-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-msgs10-dev,
         libgz-transport13-core-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-lidar (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files lidar
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for lidar sensor

Package: libgz-sensors8-lidar
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib lidar
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for lidar sensor

Package: libgz-sensors8-gpu-lidar-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-msgs10-dev,
         libgz-transport13-core-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libgz-sensors8-lidar-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-gpu-lidar (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files gpu-lidar
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for gpu-lidar sensor

Package: libgz-sensors8-gpu-lidar
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib gpu-lidar
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for gpu-lidar sensor

Package: libgz-sensors8-logical-camera-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-msgs10-dev,
         libgz-transport13-core-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-logical-camera (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files logical-camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for logical-camera sensor

Package: libgz-sensors8-logical-camera
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib logical-camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for logical-camera sensor

Package: libgz-sensors8-magnetometer-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-magnetometer (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files magnetometer
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for magnetometer sensor

Package: libgz-sensors8-magnetometer
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib magnetometer
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for magnetometer sensor

Package: libgz-sensors8-navsat-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-navsat (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files navsat
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for NavSat (GPS) sensor

Package: libgz-sensors8-navsat
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib navsat
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for NavSat (GPS) sensor

Package: libgz-sensors8-rendering-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-rendering (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files rendering
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for rendering sensor

Package: libgz-sensors8-rendering
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib rendering
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for rendering sensor

Package: libgz-sensors8-rgbd-camera-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-msgs10-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-rgbd-camera (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files rgbd-camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for rgbd-camera sensor

Package: libgz-sensors8-rgbd-camera
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib rgbd-camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for rgbd-camera sensor

Package: libgz-sensors8-segmentation-camera-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-msgs10-dev,
         libgz-transport13-core-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-segmentation-camera (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files segmentation-camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for segmentation-camera sensor

Package: libgz-sensors8-segmentation-camera
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib segmentation-camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for segmentation-camera sensor

Package: libgz-sensors8-thermal-camera-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-common5-events-dev,
         libgz-math7-dev,
         libgz-msgs10-dev,
         libgz-transport13-core-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-thermal-camera (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files thermal-camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for thermal-camera sensor

Package: libgz-sensors8-thermal-camera
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib thermal-camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for thermal-camera sensor

Package: libgz-sensors8-wide-angle-camera-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake3-dev,
         libgz-msgs10-dev,
         libgz-sensors8-core-dev (= ${binary:Version}),
         libsdformat13-dev,
         libgz-sensors8-wide-angle-camera (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files wide-angle-camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Development files for wide-angle-camera sensor

Package: libgz-sensors8-wide-angle-camera
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib wide-angle-camera
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Shared library for wide-angle-camera sensor


Package: libgz-sensors8-dev
Architecture: any
Section: libdevel
Depends: libgz-sensors8-core-dev (= ${binary:Version}),
         libgz-sensors8-air-pressure-dev (= ${binary:Version}),
         libgz-sensors8-air-speed-dev (= ${binary:Version}),
         libgz-sensors8-altimeter-dev (= ${binary:Version}),
         libgz-sensors8-boundingbox-camera-dev (= ${binary:Version}),
         libgz-sensors8-camera-dev (= ${binary:Version}),
         libgz-sensors8-depth-camera-dev (= ${binary:Version}),
         libgz-sensors8-dvl-dev (= ${binary:Version}),
         libgz-sensors8-force-torque-dev (= ${binary:Version}),
         libgz-sensors8-imu-dev (= ${binary:Version}),
         libgz-sensors8-lidar-dev (= ${binary:Version}),
         libgz-sensors8-gpu-lidar-dev (= ${binary:Version}),
         libgz-sensors8-logical-camera-dev (= ${binary:Version}),
         libgz-sensors8-magnetometer-dev (= ${binary:Version}),
         libgz-sensors8-navsat-dev (= ${binary:Version}),
         libgz-sensors8-rendering-dev (= ${binary:Version}),
         libgz-sensors8-rgbd-camera-dev (= ${binary:Version}),
         libgz-sensors8-segmentation-camera-dev (= ${binary:Version}),
         libgz-sensors8-thermal-camera-dev (= ${binary:Version}),
         libgz-sensors8-wide-angle-camera-dev (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Metapackage
 Gazebo Sensors is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Metapackage for all the -dev files
